/* Write your CSS here */
.bg-container {
  background-color: #07080c;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #cbd5e1;
  font-family: roboto;
  font-style: italic;
  font-weight: 500;
}
h2 {
  color: #ffffff;
  font-family: roboto;
}
p{
    color:#94a3b8;
}
.btn1{
    color:#ffffff;
    background-color: #0b69ff;
    border-radius: 6px;
    font-family: roboto;
}
.btn2{
    color:#cbd5e1;
    background-color: transparent;
    border-radius: 6px;
    font-family: roboto;
}